<h1>Events</h1>
<table>
  <thead>
  <tr>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <% place = Place.find_by(id: event.place) %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
      <td><%= event.start_date %></td>
      <td><%= event.place.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% begin %>
  <% user = User.find(session["warden.user.user.key"][0][0]) %>
<% rescue %>
<% else %>
  <% if user.role == 'admin' then %>
    <%= link_to 'New Event', events_new_path %>
  <% end %>
<% end %>
<div>
  <%= link_to 'Purchase tickets', user_tickets_new_path, method: :get %>
</div>
<div>
  <%= link_to 'Your purchased tickets', user_tickets_path %>
</div>
