<%= form_with(model: user_ticket, local: true) do |form| %>
  <% if user_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_ticket.errors.count, "error") %> Prohibited this ticket from being added to shopping cart:</h2>

      <ul>
        <% user_ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :ticket_id, "Ticket:" %>
    <% tickets=Ticket.all %>
    <% tickets.each do |ticket| %>
      <%= form.label(:ticket_info, ticket.event.name)%>
      <%= form.radio_button(:ticket_id, ticket.id) %>
    <% end %>
  </div>
  <% user = User.find(session["warden.user.user.key"][0][0]) %>
  <%= form.hidden_field :user_id, value: user.id %>
  <%= form.hidden_field :time, value: DateTime.now %>
  <%= form.hidden_field :paid, value: false %>
  <div class="actions">
    <%= form.submit "Add to shopping cart"%>
  </div>
<% end %>