<!DOCTYPE html>
<html>
  <head>
    <title>Lab4Assignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p id="notice"><%= notice %></p>
    <div class="nav-bar row">
      <div class="nav-bar-right">
        <% if user_signed_in? %>
          <button> Log Out</button>
        <% else %>
          <button> Log in</button>
          <button> Sign in</button>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
