<!DOCTYPE html>
<html>
  <head>
    <title>Lab4Assignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p id="notice"><%= notice %></p>
    <div class="nav-bar row" style="align-content: end">
      <div class="nav-bar-right" style="align-content: end">
        <% if user_signed_in? %>
          <p>
            <% current_user %>
          </p>
          <button onclick="window.location.href='/log_out'"> Log Out</button>
        <% else %>
          <button onclick="window.location.href='/login'"> Log in</button>
          <button onclick="window.location.href='/sign_in'"> Sign in</button>
        <% end %>
      </div>
    </div>
    <hr>
    <%= yield %>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '418703665575915',
      cookie     : true,
      xfbml      : true,
      version    : '20'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  </body>
</html>
